nav {
  border: 1px solid #000;
}

img {
  border: 1px solid #000;
}

footer {
  text-align: center;
}

.container {
  border: 1px solid #000;
}

.sidebar {
  border: 1px solid #000;
}

.todos-list {
  border: 1px solid #000;
}

.todo-item {
  border: 1px solid #000;
}

.categories {
  border: 1px solid #000;
}

.statuses {
  border: 1px solid #000;
}

.category {

}

.due-date {

}

.headline {
  text-align: center;
}

.done {

}

.delete {

}

.edit {

}

.add-todo-item {

}
