.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.red-border {
    border: 1px solid red;
}

.black-border {
    border: 1px solid black;
}

.menu {
    justify-content: space-evenly;
    position: sticky;
    top: 0;
    background-color: white;
}

.item {
    flex: 1;
    align-self: center;
}

.todo {
    border: 1px solid blue;
    padding: 5px;
    margin: 5px;
}

#main-item {
    flex: 2;
}

.center {
    text-align: center;
}

.nav-element {
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
}

.nav-element:hover {
    background-color: lightgray;
}

img {
    padding: 10px;
}

.highlighted {
    background-color: gray;
}

footer {
    background-color: darkgrey;
    color: white;
    text-align: center;
    padding: 10px;
    position: sticky;
    bottom: 5px;
}

.sidebar {
    display: flex;
    justify-content: center;
    align-items: center;
}